/*
  fs2 phpBB Template CSS
  Created by aallix
  http://www.forumstyles.co.uk
  
  Validates with W3C's CSS2 guidelines
  http://www.w3.org
*/

body
{ background-color: #FAFAFA; color: #000000;
  background-image: url(images/bg.gif);
  font-size: 75%; }

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{ font-family: verdana,arial,helvetica,sans-serif; }

a:link,a:visited,a:active
{ color:#006699; background-color: transparent; }
a:hover
{ color:#bdc287; background-color: transparent;
  text-decoration: underline; }

hr
{ background-color: transparent; color: #ffffff;
  height: 1px; }

.center
{ text-align: center; }
.left
{ text-align: left; }
.right
{ text-align: right; }

img
{ border-width: 0px 0px 0px 0px; }

ul
{ list-style-image: url(images/list.gif); }

.divmiddle
{ background-color: transparent; color: #000000;
  background-image: url("images/div.gif"); 
  vertical-align: 30%; }  

.forumline
{ background-color: #ffffff; color:#000000; }  

td.row1
{ background-color: #edf1f5; color: #000000;
  padding: 4px 4px 4px 4px; }
td.row2
{ background-color: #e9eef3; color: #000000;
  padding: 4px 4px 4px 4px; }  
td.row3
{ background-color: #dfe4e8; color: #000000;
  padding: 4px 4px 4px 4px; }
  
th
{ background-color: #d1d7dc; color: #bdc287; 
  font-size: 75%; font-weight: bold;
  text-align: center; height: 22px; }
td.cat,td.catHead
{ background-color: #dfe4e8; color: #000000; 
  height: 22px; 
  padding: 0px 0px 0px 4px; }
td.catBottom
{ background-color: #d1d7dc; color: #000000; 
  height: 22px;
  padding: 2px 2px 2px 2px; }  
td.spaceRow
{ background-color: #dfe4e8; color: #000000;
  padding: 2px 2px 2px 2px; } 
  
.maintitle
{ background-color: transparent; color: #006699;
  text-decoration: none; line-height: 115%;
  font-weight: bold; font-size: 125%;
  font-family: "trebuchet ms", verdana, arial, helvetica, sans-serif; }

.gen
{ font-size: 75%; }
.genmed
{ font-size: 70%; }
.gensmall
{ font-size: 65%; }
.gen,.genmed,.gensmall
{ background-color: transparent; color : #000000; }
a.gen,a.genmed,a.gensmall
{ color: #006699; 
  background-color: transparent; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover
{ background-color: transparent; color: #bdc287; 
  text-decoration: underline; }

.mainmenu
{ background-color: transparent; color: #000000;
  font-size: 70%; }
a.mainmenu
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.mainmenu:hover
{ background-color: transparent; color: #bdc287;
  text-decoration: underline; }  

.cattitle
{ background-color: transparent; color: #006699;
  font-weight: bold; font-size: 70%; 
  letter-spacing: 1px; }
a.cattitle
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.cattitle:hover
{ background-color: transparent;
  text-decoration: underline; color: #bdc287; }

.forumlink
{ background-color: transparent; color: #006699;
  font-weight: bold; font-size: 70%; }
a.forumlink 
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.forumlink:hover
{ background-color: transparent; color: #bdc287;
  text-decoration: underline; }
  
.nav
{ background-color: transparent; color: #000000;
  font-weight: bold; font-size: 70%; }
a.nav
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.nav:hover
{ background-color: transparent; color: #bdc287;
  text-decoration: underline; }
  
.topictitle
{ background-color: transparent; color: #000000;
  font-weight: bold; font-size: 70%; }
a.topictitle:link
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.topictitle:visited
{ background-color: transparent; color: #5493b4;
  text-decoration: none; }
a.topictitle:hover
{ background-color: transparent; color: #bdc287;
  text-decoration: underline; }

.name
{ background-color: transparent; color: #000000;
  font-size: 70%; }

.postdetails
{ background-color: transparent; color: #000000;
  font-size: 65%; }

.postbody 
{ background-color: transparent; color: #000000;
  font-size: 80%; line-height: 135%; }
a.postlink:link
{ background-color: transparent; color: #006699;
  text-decoration: none; }
a.postlink:visited
{ background-color: transparent; color: #5493b4;
  text-decoration: none; }
a.postlink:hover
{ background-color: transparent; color: #bdc287;
  text-decoration: underline; }

.code
{ background-color: #ffffff; color: #006600;
  font-family: Courier, 'Courier New', sans-serif; font-size: 70%;
  border-color: #dfe4e8; border-style: solid;
  border-width: 1px 1px 1px 1px; }
.quote
{ background-color: #ffffff; color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 70%; line-height: 120%;
  border-color: #dfe4e8; border-style: solid;
  border-width: 1px 1px 1px 1px; }

.copyright
{ background-color: transparent; color: #999999;
  font-size: 65%; font-family: Verdana, Arial, Helvetica, sans-serif; 
  letter-spacing: -1px; }
a.copyright,a.copyright:visited,a.copyright:active
{ background-color: transparent; color: #999999;
  text-decoration: none; }
a.copyright:hover
{ background-color: transparent; color: #999999;
  text-decoration: underline; }
  
input,textarea, select
{ background-color: transparent; color: #000000;
  font-weight: normal; font-size: 70%;
  border-color: #000000; }
input.post, textarea.post
{ background-color: #ffffff; color: #000000;
  border-width: 1px 1px 1px 1px; }
input
{ text-indent: 2px; }
input.button 
{ background-color: #e9eef3; color: #000000;
  font-size: 70%; font-family: verdana,arial,helvetica,sans-serif; 
  border-width: 1px 1px 1px 1px; }
input.mainoption
{ background-color: #ffffff; color: #000000;
  font-weight: normal; 
  border-width: 1px 1px 1px 1px; }
input.liteoption
{ background-color: #ffffff; color: #000000;
  font-weight: normal; 
  border-width: 1px 1px 1px 1px; }
  
.helpline
{ background-color: #edf1f5; color: #000000; 
  border-style: none; } 