<HTML>
<HEAD>
<TITLE>Advanced Poll $pollvars[poll_version]</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=$lang[charset]">
<STYLE TYPE="text/css">
<!--
.td1 {  font-family: "MS Sans Serif"; font-size: 10pt}
.td2 {  font-family: "MS Sans Serif"; font-size: 9pt}
.code {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; height: 200px; width: 600px;; background-color: #E9E9E9}
.code2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; height: 90px; width: 600px; background-color: #E9E9E9}
-->
</STYLE>
</HEAD>
<BODY BGCOLOR="#3A6EA5">
<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="0" ALIGN="center" WIDTH="750">
  <TR BGCOLOR="#C6C3C6" VALIGN="top">
    <TD>
      <TABLE WIDTH="750" BORDER="0" CELLSPACING="0" CELLPADDING="1" ALIGN="center">
        <TR BGCOLOR="#400080">
          <TD HEIGHT="20" CLASS="td2" BGCOLOR="#000084"><B><FONT COLOR="#FFFFFF">
            &nbsp;Advanced Poll $pollvars[poll_version]</FONT></B></TD>
          <TD HEIGHT="20" ALIGN="right" BGCOLOR="#000084">
          <IMG SRC="$pollvars[base_gif]/min.gif" WIDTH="16" HEIGHT="14"><IMG SRC="$pollvars[base_gif]/max.gif" WIDTH="16" HEIGHT="14">&nbsp;<A HREF="admin_logout.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/cross.gif" WIDTH="16" HEIGHT="14" BORDER="0" ALT="$lang[Logout]"></A></TD>
        </TR>
        <TR VALIGN="top">
          <TD COLSPAN="2">
            <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="1">
              <TR>
                <TD COLSPAN="7"><IMG SRC="$pollvars[base_gif]/top_line.gif" WIDTH="745" HEIGHT="3"></TD>
              </TR>
              <TR>
                <TD ALIGN="center" ROWSPAN="2" WIDTH="5"><IMG SRC="$pollvars[base_gif]/v_line.gif" WIDTH="5" HEIGHT="50"></TD>
                <TD ALIGN="center" WIDTH="120"><A HREF="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=show" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/index.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[IndexTitle]"></A></TD>
                <TD ALIGN="center" WIDTH="131"><A HREF="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=new" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/new.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[NewTitle]"></A></TD>
                <TD ALIGN="center" WIDTH="153"><A HREF="admin_settings.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/settings.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[SetTitle]"></A></TD>
                <TD ALIGN="center" WIDTH="121"><A HREF="admin_templates.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/templates.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[Templates]"></A></TD>
                <TD ALIGN="center" WIDTH="127"><A HREF="admin_password.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/password.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[PwdTitle]"></A></TD>
                <TD ALIGN="center" WIDTH="89"><A HREF="admin_help.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks"><IMG SRC="$pollvars[base_gif]/howto.gif" WIDTH="32" HEIGHT="32" BORDER="0" ALT="$lang[Help]"></A></TD>
              </TR>
              <TR ALIGN="center" VALIGN="top">
                <TD WIDTH="120" CLASS="td2">$lang[IndexTitle]</TD>
                <TD WIDTH="131" CLASS="td2">$lang[NewTitle]</TD>
                <TD WIDTH="153" CLASS="td2">$lang[SetTitle]</TD>
                <TD WIDTH="121" CLASS="td2">$lang[Templates]</TD>
                <TD WIDTH="127" CLASS="td2">$lang[PwdTitle]</TD>
                <TD WIDTH="89" CLASS="td2">$lang[Help]</TD>
              </TR>
              <TR ALIGN="left">
                <TD COLSPAN="7"><IMG SRC="$pollvars[base_gif]/top_line.gif" WIDTH="745" HEIGHT="3"></TD>
              </TR>
            </TABLE>
            <FORM METHOD="post" NAME="form">
              <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" ALIGN="center" WIDTH="680">
                <TR> 
                  <TD CLASS="td1"><IMG SRC="$pollvars[base_gif]/h_line.gif" WIDTH="15" HEIGHT="18"> 
                    $lang[Help] <IMG SRC="$pollvars[base_gif]/h_line.gif" WIDTH="550" HEIGHT="18"></TD>
                </TR>
                <TR> 
                  <TD CLASS="td2"><A HREF="admin_license.php?session=$auth[session]&amp;uid=$auth[uid]" CLASS="minilinks">$lang[License]</A></TD>
                </TR>
                <TR> 
                  <TD CLASS="td2">$lang[HelpSyntax]:</TD>
                </TR>
                <TR> 
                  <TD> 
                    <TABLE WIDTH="600" BORDER="0" CELLSPACING="1" CELLPADDING="4" BGCOLOR="#E9E9E9" BORDERCOLOR="#333333">
                      <TR> 
                        <TD HEIGHT="35"><FONT FACE="Courier New, Courier, mono" SIZE="2" COLOR="#003366">string</FONT><FONT FACE="Courier New, Courier, mono" SIZE="2"> 
                          <FONT COLOR="#009900"><B>poll_process</B></FONT><B>(</B>mix 
                          <FONT COLOR="#996633">var</FONT><B>)</B></FONT></TD>
                      </TR>
                    </TABLE>
                    <IMG SRC="$pollvars[base_gif]/h_line.gif" WIDTH="600" HEIGHT="18"> 
                    <TEXTAREA COLS="72" ROWS="6" WRAP="VIRTUAL" CLASS="code2" NAME="textarea">&lt;?php
$include_statement &quot;$path/booth.php&quot;;
echo \$php_poll->poll_process(x);        // x = Poll ID
?&gt;
</TEXTAREA>
                  </TD>
                </TR>
                <TR> 
                  <TD><IMG SRC="$pollvars[base_gif]/h_line.gif" WIDTH="600" HEIGHT="18"></TD>
                </TR>
                <TR> 
                  <TD CLASS="td2">$lang[HelpRand]</TD>
                </TR>
                <TR> 
                  <TD> 
                    <TEXTAREA COLS="72" ROWS="6" WRAP="VIRTUAL" CLASS="code2">&lt;?php
$include_statement &quot;$path/booth.php&quot;;
echo \$php_poll->poll_process("random");
?&gt;
</TEXTAREA>
                    <BR>
                  </TD>
                </TR>
                <TR> 
                  <TD><IMG SRC="$pollvars[base_gif]/h_line.gif" WIDTH="600" HEIGHT="18"></TD>
                </TR>
                <TR> 
                  <TD CLASS="td2">$lang[HelpNew]</TD>
                </TR>
                <TR> 
                  <TD> 
                    <TEXTAREA COLS="72" ROWS="6" WRAP="VIRTUAL" CLASS="code2">&lt;?php
$include_statement &quot;$path/booth.php&quot;;
echo \$php_poll->poll_process("newest");
?&gt;
</TEXTAREA>
                    <BR>
                  </TD>
                </TR>
              </TABLE>
            </FORM>
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>
<BR>
<BR>
</BODY>
</HTML>
