/*
  The original FSClean Theme for phpBB version 2+
  Created by SkaidonDesigns for Forum-Styles(dot)co(dot)uk
  http://www.skaidon.co.uk  ::  http://www.forum-styles.co.uk
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #EFEFEF;
scrollbar-face-color:#EEEEEE;
scrollbar-highlight-color:#000000;
scrollbar-3dlight-color:#EEEEEE;
scrollbar-darkshadow-color:#EEEEEE;
scrollbar-shadow-color:#000000;
scrollbar-arrow-color:#5C6A00;
scrollbar-track-color:#EEEEEE;
	margin : 1px 0px 0px 1px;
}

.post_sticky {
		background-color: #DEE3E7;
}

.post_announce {
		background-color: #D1D7DC;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a:link,a:active,a:visited { color : #5C6A00; }
a:hover		{ color : #3F4246; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #EFEFEF; border: 1px solid Black; }

/* This is the outline round the main forum tables */
.forumline	{ 
	border: 1px #000000 solid;	
	background-image : url(templates/FSClean/images/back.png);
	background-position : left;
	background-repeat : repeat-y; 
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	background-color : #FFFFFF;
	}

.topicline	{ 
	border: 1px #000000 solid;	
	background-image : url(templates/FSClean/images/back.png);
	background-position : left;
	background-repeat : repeat-y; 
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 4px;
	background-color : #EFEFEF;
	}

/*This is the border around the avatar */
.avatarline {
	background-color : #FFFFFF;
	border : 1px dotted Black;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	text-justify : center;
	text-align : center;
}

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #EFEFEF; }
td.row3	{ background-color: #EFEFEF; }

.admin {
	color : #5C6A00;
}

.mod{
	color : #3F4246;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #EFEFEF;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #5C6A00; font-size: 11px; font-weight : bold;
	background-color: #EFEFEF; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-color:#EFEFEF; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #EFEFEF; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #8A8E94;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #8A8E94; }
a.gen,a.genmed,a.gensmall { color: #5C6A00; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #3F4246; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #8A8E94 }
a.mainmenu		{ text-decoration: none; color : #5C6A00;  }
a.mainmenu:hover{ text-decoration: underline; color : #3F4246; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #5C6A00}
a.cattitle		{ text-decoration: none; color : #5C6A00; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #5C6A00; }
a.forumlink 	{ text-decoration: none; color : #5C6A00; }
a.forumlink:hover{ text-decoration: underline; color : #3F4246; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #8A8E94;}
a.nav			{ text-decoration: none; color : #5C6A00; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #8A8E94; }
a.topictitle:link   { text-decoration: none; color : #5C6A00; }
a.topictitle:visited { text-decoration: none; color : #3F4800; }
a.topictitle:hover	{ text-decoration: underline; color : #3F4246; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #8A8E94;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #8A8E94; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #5C6A00 }
a.postlink:visited { text-decoration: none; color : #3F4800; }
a.postlink:hover { text-decoration: underline; color : #3F4246}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #8A8E94; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	background-color : #EFEFEF;
	color : #8A8E94;
	border : 1px solid Black;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #EFEFEF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #8A8E94;
	border : 1px solid Black;
	font-size: 11px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #EFEFEF;
	color : #8A8E94;
	border : 1px solid Black;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #EFEFEF;
	color : #8A8E94;
	border : 1px solid Black;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/* Fancy form styles for IE */

input, textarea, select {
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;  
}

input { text-indent : 2px; }

input.button {
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;  
}

.postbody { line-height: 18px}

